* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	/* width: 100vw; */
	padding: 0px 17%;
	color: #dfebfa;
	/* background-color: #00202e; */
	background-color: #012839;
	/* background: rgb(10, 80, 111); */
	/* background: radial-gradient(circle, rgba(10, 80, 111, 1) 16%, rgba(0, 32, 46, 1) 93%); */
	/* background: rgb(10, 80, 111); */
	/* background: radial-gradient(circle, rgba(10, 80, 111, 1) 16%, rgba(3, 67, 96, 1) 93%); */
	font-family: sans-serif;
}
@media (min-width: 320px) {
	/* smartphones, iPhone, portrait 480x320 phones */
	body {
		display: flex;
		padding: 0px;
	}
}
